body{
	background-color:#003366;
	text-align:center;
}
#logout{
	float:right;
}

h2{
	color: white;
	padding-bottom: 5%;
}
h3{
	text-align:center;
}
#requestButton{
	float:center;
}
input{
	text-align:center;
}
#result{
	max-width:1000px;
}
strong{
	padding-right: 74px;
}
.dropdown-menu{ 
	width:100%;
	text-align:center;
}
.dropdown-menu li a {
	white-space: normal;
}
.btn{
	white-space:normal !important;
}
.result{
	margin:auto;
	text-align:center;
	max-width:1000px;
	display:none;
}
#error{
	position: fixed;
	bottom: 0;
	width: 75%;
	height: 90px;
	left: 12.5%;
	z-index:3;
}
