body{
	background-color:#849CC5;
}
h2{
	text-align:center;
}
.modal-dialog{
	padding-top:10%;
}
input{
	text-align:center;
}
hr{
	border-color:#EEEEEE;
}

#error{
	position: fixed;
	bottom: 0;
	width: 75%;
	height: 90px;
	left: 12.5%;
	z-index:3;
	text-align: center;
	font-weght: bold;
	font-size: 18px;
}